VITE_API_BASE=
VITE_BASE_PATH=/
VITE_STATIC_STORY=true
VITE_STATIC_AUTH=false

VITE_AUTH_ENABLE_GITHUB=false
VITE_AUTH_ENABLE_GOOGLE=false
VITE_AUTH_ENABLE_EMAIL=false
VITE_AUTH_ENABLE_REGISTER=false

VITE_CAPTURE_GISCUS_REPO=
VITE_CAPTURE_GISCUS_REPO_ID=
VITE_CAPTURE_GISCUS_CATEGORY=General
VITE_CAPTURE_GISCUS_CATEGORY_ID=
VITE_CAPTURE_GISCUS_MAPPING=specific
VITE_CAPTURE_GISCUS_STRICT=0
VITE_CAPTURE_GISCUS_REACTIONS_ENABLED=1
VITE_CAPTURE_GISCUS_INPUT_POSITION=bottom
VITE_CAPTURE_GISCUS_THEME=nexus
VITE_CAPTURE_GISCUS_LANG=zh-CN
